.nav {
    overflow: hidden;
}
.sk {
    position: absolute;
    top: 40px;
    left: 184px;
    border-left: 1px solid #c81623;
    padding: 3px 0 3px 14px;
}
.sk_list ul {
    display: flex;
} 
.sk_list ul li a {
    display: block;
    padding: 0 30px;
    line-height: 47px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
.sk_con ul {
    display: flex;
}
.sk_con ul li a {
    display: block;
    padding: 0 22px;
    line-height: 49px;
    font-size: 14px;
}
.sk_con ul li:last-child a::after {
    content: '\e91e';
    font-family: 'icomoon';
}
/* 商品 */
.sk_container {
    margin-bottom: 100px;
}
.sk_bd ul {
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
}
.sk_bd ul li {
    margin-top: 25px;
    margin-right: 13px;
    height: 461px;
}
.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}
.sk_bd ul li a {
    display: block;
    width: 290px;
    border: 1px solid transparent;
}
.sk_bd ul li a:hover {
    border: 1px solid #b1191a;
}
.sk_bd ul li a .title {
    width: 288px;
    padding: 0 12px;
}
.sk_bd ul li a img {
    width: 288px;
    height: 299px;
}
.sk_bd ul li a h4 {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
}
.price span:first-child {
    font-size: 22px;
    color: #e60012;
}
.price span:last-child {
    text-decoration: line-through;
    font-size: 14px;
    color: #a4a4a4;
}
.sell {
    display: flex;
    font-size: 13px;
    align-items: center;
    margin-bottom: 10px;
}
.sell i {
    color: #ed282e;
}
.sell .father {
    height: 14px;
    width: 132px;
    margin: 0 12px;
    border: 1px solid #ed282e;
    border-radius: 7px;
}
.sell .son {
    height: 12px;
    border-radius: 7px;
    width: 87%;
    background-color: #ed282e;
}
.qiang a {
    display: block;
    width: 290px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #b1191a;
}
