.main {
    display: flex;
    justify-content: space-between;
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    width: 721px;
    height: 455px;
}
.newsflash {
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news .news-hd {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
}
.news-hd h5 {
    font-size: 14px;
}
.news-hd .more::after {
    content: '\e920';
    font-family: 'icomoon';
}
.news-bd {
    padding-top: 5px;
    padding-left: 15px;
}
.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
}
.lifeservice ul {
    display: flex;
    flex-wrap: wrap;
    width: 252px;
}
.lifeservice ul li {
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li:nth-child(2) {
    position: relative;
}
.lifeservice ul li span {
    position: absolute;
    top: -3px;
    right: 0;
}
.lifeservice ul li i {
    display: inline-block;
    width: 21px;
    height: 26px;
    background: url(../images/icons.png) no-repeat -18px -15px;
    margin-top: 13px;
}
.bargain {
    margin-top: 6px;
}
/* 每日推荐模块 */
.recom {
    display: flex;
    margin-top: 11px;
    height: 163px;
}
.recom_hd {
    width: 206px;
}
.recom_bd {
    flex: 1;
}
.recom_bd ul {
    display: flex;
}
.recom_bd ul li {
    position: relative;
    flex: 1;
}
.recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 143px;
    background-color: #ddd;
}
.recom_bd ul li img {
    width: 100%;
    height: 163px;
}
/* 猜你喜欢 */
.like {
    margin-top: 31px;
    height: 282px;
}
.like_hd {
    display: flex;
    justify-content: space-between;
    height: 48px;
}
.like_hd h4 {
    height: 48px;
    line-height: 48px;
    width: 72px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.like_hd .refresh {
    position: relative;
    width: 60px;
    height: 48px;
    line-height: 48px;
    margin-right: 22px;
    font-size: 12px;
    color: #666;
}
.like_hd .refresh::after {
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    top: 16px;
    width: 16px;
    height: 16px;
    content: '';
    background: url(../images/refresh.png) no-repeat;
}
.like_bd {
    height: 233px;
    border: 1px solid #e4e4e4;
}
.like_bd ul {
    display: flex;
}
.like_bd ul li {
    height: 231px;
    width: 200px;
}
.like_bd ul li:last-child {
    overflow: hidden;
}
.photo {
    display: flex;
    height: 163px;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.like_bd .title {
    height: 68px;
    width: 200px;
}
.like_bd p {
    margin-left: 36px;
    line-height: 21px;
    font-size: 12px;
    color: #666;
}
.like_bd ul li .price {
    margin-left: 35px;
    font-size: 18px;
    color: #df3033;
}
/* 楼层模块 */
.floor .w {
    margin-top: 30px;
}
.box_hd {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}
.box_hd ul {
    display: flex;
    line-height: 30px;
}
.box_hd ul li a {
    margin: 0 15px;
}
.box_bd {
    height: 360px;
}
.tab_list_item {
    display: flex;
}
.tab_list_item>div {
    height: 360px;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 ul {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding-left: 12px;
}
.col_210 ul li {
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    line-height: 33px;
    text-align: center;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}